<div class="container examples">
  <div class="row">
    <div class="col l3 s12 navigation">
      <div class="row">
        <div class="col l12 m6 s12">
          <button class="btn btn-flat waves-effect" routerLinkActive="active" routerLink="todos">Todos Example</button>
        </div>
        <div class="col l12 m6 s12">
          <button class="btn btn-flat waves-effect" routerLinkActive="active" routerLink="rest">Rest Example</button>
        </div>
      </div>
    </div>
    <div class="col l8 offset-l1 s12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
