@import "variables";

.examples {
  margin-top: 40px;

  .navigation {
    margin-top: 15px;

    button {
      margin-bottom: 10px;
      width: 100%;

      &.active {
        color: #fff;
        background-color: $link-color;;
      }
    }
  }
}
