<div class="row">
  <div class="col m3 s12">
    <h5>Currency</h5>
    <select class="browser-default" (change)="onCcyChange($event.target.value)">
      <option value="EUR" selected>EUR</option>
      <option value="USD">USD</option>
      <option value="CHF">CHF</option>
    </select>
  </div>
  <div class="col m9 s12">
    <table class="table striped">
      <thead>
        <tr>
          <th>Ccypair</th>
          <th class="right-align">Rate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of restService.rates$ | async">
          <td>{{rate.ccypair}}</td>
          <td class="right-align">{{rate.rate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
