<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Angular Model Pattern</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <blockquote>
        tldr; kinda like redux but only kinda
      </blockquote>
    </div>
    <div class="col s6">
      <h5>Features</h5>
      <ul class="browser-default">
        <li>One way data flow (flux)</li>
        <li>Explicit service function calls (instead of actions / events)</li>
        <li>Immutable data model (store)</li>
        <li>Angular way (standard injectable angular service)</li>
        <li>Model per domain concern (eg: every service has it's own model)</li>
      </ul>
    </div>
  </div>
</div>
