@import "variables";

pre {
  margin: 0;
  position: relative;

  .copy {
    position: absolute;
    top:25px;
    right: 20px;

    color: $link-color;
    cursor: pointer;
    text-align: right;

    &:hover {
      color: $link-color-dark;
    }

    span {
      position: relative;
      top: -7px;
      opacity: 0;
      transition: all 0.3s;

      &.clipboard-feedback {
        opacity: 1;
      }
    }
  }

  textarea {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
  }
}
