<div class="row">
  <div class="col m6 s12">
    <h5>New todo</h5>
    <input type="text"
           class="new"
           placeholder="I have to ..."
           [value]="newTodo"
           (keyup)="onNewTodoChange($event.target.value)"
           (keyup.enter)="onAddTodo()"
           (keyup.escape)="onClearTodoInput()"/>
    <button class="btn waves-effect waves-light add"
            (click)="onAddTodo()"
            [disabled]="newTodo.length < 3">
      <i class="material-icons left">add</i> Create
    </button>
    <button class="btn waves-effect waves-light clear"
            (click)="onClearDoneTodosClick()"
            [disabled]="counts.done === 0">
      <i class="material-icons left">delete</i> Clear done
    </button>
    <br/>
    <br/>
  </div>
  <div class="col m6 s12">
    <h5>Todo list <span *ngIf="counts.active !== 0">({{counts.active}})</span></h5>
    <p class="all-done" *ngIf="counts.all === 0" [@flyInOut]>
      Yaay! You have completed everything on your todo list...
    </p>
    <ul>
      <li
        *ngFor="let todo of todosService.todos$ | async; trackBy: todosTrackBy"
        [@flyInOut]>
        <input type="checkbox"
               [value]="todo.done"
               [checked]="todo.done"
               [id]="todo.name"
               (click)="onTodoClick(todo)"/>
        <label [for]="todo.name">{{todo.name}}</label>
      </li>
    </ul>
  </div>
</div>
