<div class="container">

  <div class="row">
    <div class="col s12">
      <h3>Getting started</h3>
      <p>The <code>@angular-extensions/model</code> can be used in both projects using Angular CLI and plain Angular projects with custom build</p>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <br>
      <ul class="tabs tabs-fixed-width">
        <li class="tab">
          <a href="#cli" class="active">Use with Angular CLI</a>
        </li>
        <li class="tab">
          <a href="#custom">Use in plain Angular proect</a></li>
      </ul>
    </div>
    <div id="cli" class="col s12">
      <br>
      <br>
      <div class="row">
        <div class="col s12">
          <h4>1. Install <code>@angular-extensions/model</code></h4>
          <p>Enter Angular CLI project and run <code>ng add @angular-extensions/model</code>.
            The library uses new <code>providedIn: 'core'</code> tree-shakeable providers so
            we can start injecting and using <code>ModelFactory</code> out of the box without need
            to import any modules or register any providers.
          </p>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4>2. Generate new model service</h4>
          <p>Create new model service using Angular CLI and provided schematics by running
            <code>ng g @angular-extensions/model:model examples/todo --items</code>. This will generate service
            and corresponding test files with basic implementation. The <code>--items</code> flag causes that the
            model service will work with the collection of items which means it will expose <code>Observable	&lt;Todo[]></code>
            as its data.
          </p>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4>3. Generate new component and use the model service</h4>
          <p>Create new component using Angular CLI and built in Angular schematics by running
            <code>ng g component examples/todo --inline-template</code>.
          </p>
          <p>
            Adjust component implementation as in the code example below and then
            use our new <code>&lt;app-todo>&lt;/app-todo></code> component in the template of the existing <code>app.component.html</code>
            (or wherever it suits you).
          </p>
          <p>
            Please mind that you might be using different application prefix than <code>app-</code> so adjust accordingly.
          </p>
          <ampe-code-block [code]="todoComponent"></ampe-code-block>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4>4. Implement additional model service methods</h4>
          <p>Create additional model service methods following pattern used in the one existing method.</p>
          <p>Every model method consists of three main parts:</p>
          <ol>
            <li>Get current model state with <code>const state = this.model.get()</code></li>
            <li>Mutate current model state based on your needs</li>
            <li>Set the new model value using <code>this.model.set(state)</code></li>
          </ol>
          <p>Please, have a look into implementation of <a href="https://stackblitz.com/edit/angular-extensions-model?file=src%2Fapp%2Ftodo%2Ftodo.service.ts">Live Demo</a> to see more examples of model service methods.</p>
        </div>
      </div>

    </div>
    <div id="custom" class="col s12">
      <br>
      <br>
      <div class="row">
        <div class="col s12">
          <h4>1. Install <code>@angular-extensions/model</code></h4>
          <p>Enter your Angular project and run <code>npm i -S @angular-extensions/model</code>.
            The library uses new <code>providedIn: 'core'</code> tree-shakeable providers so
            we can start injecting and using <code>ModelFactory</code> out of the box without need
            to import any modules or register any providers.
          </p>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4>2. Create new model service</h4>
          <p>Create new model service file in <code>src/app/examples/todo/todo.service.ts</code>
            with the following content...
          </p>
          <ampe-code-block [code]="todoService"></ampe-code-block>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4>3. Use new model service in one of your components</h4>
          <p>Use new model service in one of your components as described in point 3 and above in <strong>Using with Angular CLI</strong> section
          </p>
        </div>
      </div>


    </div>
  </div>

</div>
