<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <a href="#" class="brand-logo">
      <img src="https://tomastrajan.github.io/angular-model-pattern-example/assets/logo.png" />
      <span>Angular Model Pattern</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Todos</a></li>
      <li><a href="#">Rest</a></li>
    </ul>
  </div>
  <ul id="slide-out" class="side-nav">
    <li><a href="#">About</a></li>
    <li><a href="#">Todos</a></li>
    <li><a href="#">Rest</a></li>
  </ul>
</nav>
<h1>
  {{title}}
</h1>
<router-outlet></router-outlet>
