@import "variables";

.page-content {
  min-height: 100%;
  margin-bottom: -250px;

  @media #{$medium-and-down} {
    margin-bottom: -320px;
  }
}
.page-footer, .page-content-push {
  height: 250px;

  @media #{$medium-and-down} {
    height: 320px;
  }
}

.nav-wrapper {

  .brand-logo {

    span {
      padding: 0 0 0 70px;
    }

    img {
      position: absolute;
      top: 10%;
      left: 10px;
      height: 80%;
    }

  }

  ul {
    li {
      a {
       &.active {
         background-color: $primary-color-dark;
       }
      }

      &.icon {
        span {
          position: relative;
          top: 5px;
        }
      }
    }
  }
}


.footer-copyright {
  background-color: $primary-color-dark;
  a {
    margin: 0 0 0 15px;
  }
}
