@import "variables";

.page-content {
  min-height: 100%;
  margin-bottom: -242px;

  @media #{$medium-and-down} {
    margin-bottom: -323px;
  }
}

.page-footer, .page-content-push {
  height: 242px;

  @media #{$medium-and-down} {
    height: 323px;
  }
}

.nav-wrapper {
  transition: all 0.3s;

  .brand-logo {
    background-image: url("../assets/logo.png");
    background-position: left center;
    background-size: auto 80%;
    background-repeat: no-repeat;
    margin: 0 0 0 20px;

    span {
      padding: 0 0 0 70px;
    }

  }

  ul {
    li {
      a {
        &.active {
          background-color: $link-color;
          &:hover {
            background-color: $link-color;
          }
        }

        &:hover {
          background-color: $primary-color-light;
        }
      }

      &.icon {
        span {
          position: relative;
          top: 5px;
        }
      }
    }
  }
}

.page-footer {
  a {
    color: #fff;

    &.active {
      color: $link-color;
    }
  }

  .footer-copyright {
    background-color: $primary-color-dark;

    a {
      margin: 0 0 0 15px;
    }
  }
}
