<nav>
  <div class="nav-wrapper">
    <a data-activates="slide-out" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <a routerLink="about" class="brand-logo">
      <img src="https://tomastrajan.github.io/angular-model-pattern-example/assets/logo.png" />
      <span>Angular Model Pattern</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLinkActive="active" routerLink="about">About</a></li>
      <li><a routerLinkActive="active" routerLink="todos">Todos</a></li>
      <li><a routerLinkActive="active" routerLink="rest">Rest</a></li>
      <li><a routerLinkActive="active" routerLink="lazy">Lazy</a></li>
    </ul>
  </div>
  <ul id="slide-out" class="side-nav">
    <li><a routerLinkActive="active" routerLink="about">About</a></li>
    <li><a routerLinkActive="active" routerLink="todos">Todos</a></li>
    <li><a routerLinkActive="active" routerLink="rest">Rest</a></li>
    <li><a routerLinkActive="active" routerLink="lazy">Lazy</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
