/* You can add global styles to this file, and also import other style files */

$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/";
@import "variables";
@import "~materialize-css/sass/materialize";

@import "~highlightjs/styles/paraiso-dark.css";

html, body {
  height: 100%;
}

p {
  line-height: 23px;

  code {
    color: $primary-color;
    background-color: lighten($primary-color, 30%);
    border-radius: 10px;
    white-space: nowrap;
    padding: 0px 5px 1px 5px;
    margin: 0 5px;
    
    a {
      color: $primary-color;
    }
  }
}
